body {
    background-color: #f2f2f2;
    margin: 0px;
    font-family: tahoma;
    color: #282828;
  }
  .disabled_image{
    filter: grayscale(1500);
  }
  .button {
    margin: 30px;
    background-color: #113a6b;
    border-radius: 10px;
    font-size: 18px;
    width: 160px;
    height: 60px;
    color: white;
    padding: 20px;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
      inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
      inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    cursor: pointer;
    border: none;
  }
  #btn{
    color: #f7f7f7;
    background-color: #113a6b;
    border-radius: 10px;
    font-size: 30px;
    margin: 10px 10px 10px 10px;
  }
  
  
  .cart {
    margin: 25px 100px;
    float: right;
    border: 1px solid #d8d8d8;
    padding: 10px 30px;
    background-color: white;
    -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
  }
  
  .color-circle {
    width: 57px;
    height: 50px;
    margin-top: 8px;
    border: 2px solid #d8d8d8;
    border-radius: 50%;
  }
  
  
  .disabledButton {
    background-color: #d8d8d8;
    cursor: not-allowed;
  }
  
  h1 {
    font-size: 50px;
  }
  
  h3 {
    font-size: 25px;
  }
  
  img {
    border: 2px solid #d8d8d8;
    width: 70%;
    margin: 40px;
    padding: 15px;
    -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
  }
  
  input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  li {
    font-size: 18px;
  }
  
  .nav-bar {
    background: linear-gradient(-90deg, #84cf6a, #16c0b0);
    height: 60px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
  }
  
  p {
    font-size: 22px;
  }
  
  .product-display {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .product-image,
  .product-info {
    width: 50%;
  }
  
  
  
  .review-container li {
    margin-bottom: 30px;
  }
  
  .review-form .button {
    display: block;
    margin: 30px auto;
  }
  
  select {
    height: 40px;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
  }
  .cart{
    margin-bottom: 50px;
  }
  
  textarea {
    width: 95%;
    height: 70px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      flex-direction: column;
    }
  
    .product-image,
    .product-info {
      margin-left: 10px;
      width: 100%;
    }
  
    .review-form {
      width: 90%;
    }
  }
  
  
  #more{
    display: block;
  }
  body {
    animation: fadeInAnimation ease 2s;
    
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.disabledButton{
  background-color: grey !important;
  cursor: not-allowed !important;
}
.disabledButtonCart{
  background-color: grey !important;
  cursor: not-allowed !important;
}

.popup-below {
  position: fixed; /* Stay in place */
  z-index: 999999999;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
   /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup_magasin{
  position: fixed;
  top: 50%;
  left: 50%;
  flex-direction: column;
  border-radius: 5%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  padding: 80px;
  width: 54rem;
}
.popup-below{
  padding: 15px;
  display: grid;
  
  
}
#return{
  right: 0;
  margin-top: -63px;
  
  font-size: 20px;
  position: absolute;
  margin-bottom: 500px;
  text-align: center;
}
.commenter{
  
  margin-right: 20px;
  align-items: center;
  padding-bottom: 20px;
}
.review-form {
  margin-top: 100px;
  margin-bottom: 50px;

  flex-direction: column;
  display: flex;
  border-radius: 15px;
  width: 1000px;
  padding: 20px;
  margin-left: 25%;
  border: 2px solid #fff;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.review-container {
  width: 410px;
  padding-top: 20px;
  width: 1000px;
  padding-bottom: 50px;
  margin-left: 25%;
  box-sizing: content-box;
  background-color: rgb(147, 225, 249);
 border-radius: 10px;
 box-shadow: #282828 5px 10px;
 overflow: hidden;
}
.h3{
  background-color:rgb(48, 93, 243) ;
  padding-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
  padding-bottom: 20px;
  
}
label{
  color: #113a6b;
  font-style: oblique;
  font-variant: small-caps;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.review-container li{
  color: #070742;
}
#li{
  color: #282828;
  font-style: oblique;
  font-variant: small-caps;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 34px;
  letter-spacing: 3px;

}
.review-container h3{
  font-style: oblique;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 4px;
  color: darkblue;
  
}



